nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 25px;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 5px 15px;
}

nav a:hover {
    background-color: lightgray
}